@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700&subset=latin,cyrillic,cyrillic-ext);
*{
    padding:0;
    margin:0;
}
main{
    padding:0;
    background:url(../img/forcont.jpg) top center no-repeat;
    background-size:101.5%;
    -moz-background-size:101.5%;
    -webkit-background-size:101.5%;
    -o-background-size:100%; 
    position:relative;
    min-height:auto;
    height:auto;
}
main, #info a{
    color:#f0f8ff;
    text-decoration: none;
}
#info{
    padding:100px 10px;
    background-color:RGBA(0,0,0,.6);
}
h1{
    text-align:center;
}
h3{
    margin:20px 0 40px 0;
    position:relative;
}
h3::after{
    display:block;
    content:"";
    width:150px;
    height:1px;
    background-color:#f0f8ff;
    position:absolute;
    bottom:-20px;
    left:50%;
    margin-left:-75px;
}
#info div{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}
#info ul{
    width:45%;
    margin:10px;
}
#info li{
    list-style-type: none;
    text-align:center;
    margin-bottom:4px;
}
#info a{
        padding:5px 10px;
}
#info li:first-child{
    border-radius:100%;
    background-color:#f0f8ff;
    width:96px;
    color:#636060;
    padding:32px 0 32px 0;
    display:block;
    margin:0 auto;
}
#info ul:hover li:first-child{
    animation: jingle .5s linear;
}
#info li:hover a{
    cursor: pointer;
    border-radius:5px;
    background-color:#636060; 
}

footer{
    margin-top:0;
}
header{
    margin-bottom:0;
}
@keyframes jingle{
    0%{

            transform: scale(1);
    }
    50%{
            transform: scale(1.3);
    }
    100%}{
            transform: scale(1);
    }
}

@media screen and (max-width:854px)
{
    #info{
        padding:0 10px;
        overflow:hidden;
    }
    #info ul{
    width:100%;
    margin:10px;
    position:relative;
    }
    #info li:first-child{
        position:absolute;
        top:50%;
        margin-top:-48px;
        left:0;
    }
    main{
    background:url(../img/forcont.jpg) no-repeat top center;
    background-size:auto;
    -moz-background-size:auto;
    -webkit-background-size:auto;
    -o-background-size:auto;

    }
}
@media screen and (max-width:674px)
{
#info li:first-child{
        display:none;
    }
}
