@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700&subset=latin,cyrillic,cyrillic-ext);
*{
    padding:0;
    margin:0;
}
body{
    background:fixed url(../img/kids/oneonestudio5.JPG) center center no-repeat #000;
    background-size:cover;
    position:relative;
    font-family:Comfortaa,Verdana, sans-serif;

}
header{
    left:10%;
    top:0;
    bottom:0;
    position:absolute;
	height:100%;
    background-color:RGBA(0,0,0,.7);
    width:35%;
}
header nav{
	position:relative;
	padding-top:30px;
	margin-bottom:40px;
}
header nav::before,header nav::after{
	content:"";
	display:block;
	z-index:1000;
	position:absolute;
	width:100%;
	height:30px;
	margin:0 auto;
    background-size:100%;
	background-position:center center;
	background-repeat:no-repeat;
}
header nav::before{
	background-image:url(../img/decobordertop.png);
	top:-10px;
}
header nav::after{
	background-image:url(../img/decoborderbottom.png);
	bottom:-40px;
}
figure{
    display:block;
}
header img{
    display:block;
    width:90%;
    margin:70px auto;
}
a{
    text-decoration: none;
    color:#E1E1E1;
}
li{
    margin:0 20px;
    padding: 10px;
    list-style-type:none;
    text-align:center;
    font-size:1.5em;
    transition-property: all;
    transition-timing-function:linear;
    transition-duration:200ms;
}
li:hover{
    transform: scale(1.3);
}

@media screen and (min-width:1300px)
{
    body{
        fon-size:1.3em;
    }
}
@media screen and (max-width:854px)
{
    header img{
        margin:50px auto;
    }
}
@media screen and (max-width:768px)
{
    body{
        background:fixed url(../img/studio/studiony2.JPG) center center no-repeat #000;
         font-size: 1.8em;
    }
    header{
        left:0;
        width:100%;
        background: none;
    }
	header nav::before,header nav::after{
		height:60px;
	}
	header nav{
		margin:60px 0;
		padding:60px 0;
	}
    header img{
        margin:30px auto;
    }
    li{
        margin:0;
        padding:0;
    }
    body{
	    background:fixed url(../img/studio/studiony2.JPG) center center no-repeat #000 / cover;
	}
}
@media screen and (max-width:480px)
{
    header img{
        margin:30px auto;
    }
	header nav{
		margin:30px 0;
		padding:30px 0;
	}
}
@media screen and (max-width:352px)
{
        header img{
        margin:20px auto;
    }
}
