/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700&subset=latin,cyrillic,cyrillic-ext);
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   CUSTOM STYLE
   ========================================================================== */
*{
    margin:0;
    padding:0;
}
body{
    margin:0 auto;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-family: 'Comfortaa', 'Verdana',sans-serif;
}
/* ==========================================================================
   FLEX PARAMETRES
   ========================================================================== */
header ul, footer{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    -webkit-display:flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-display:flex;
    -moz-flex-flow: row wrap;
    -moz-justify-content: center;
    -ms-display:flex;
    -ms-flex-flow: row wrap;
    -ms-justify-content: center;
}
/* ==========================================================================
   HEADER
   ========================================================================== */
header{
    position:relative;
    padding:0 70px;
    background: rgba(152,152,152,1);
    background: -moz-linear-gradient(top, rgba(152,152,152,1) 0%, rgba(250,250,250,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(152,152,152,1)), color-stop(100%, rgba(250,250,250,1)));
    background: -webkit-linear-gradient(top, rgba(152,152,152,1) 0%, rgba(250,250,250,1) 100%);
    background: -o-linear-gradient(top, rgba(152,152,152,1) 0%, rgba(250,250,250,1) 100%);
    background: -ms-linear-gradient(top, rgba(152,152,152,1) 0%, rgba(250,250,250,1) 100%);
    background: linear-gradient(to bottom, rgba(152,152,152,1) 0%, rgba(250,250,250,1) 100%);
    margin-bottom:5px;
    box-shadow: 0 3px 5px  #999;
}
#socnet{
    position:absolute;
    bottom: 1em;
    right: 1em;
    width: 1em;
}
footer p, header li{
    transition-property: all;
    transition-timing-function:linear;
    transition-duration:200ms;
    color:#636060;
}
header li{
    padding:3px 33px 3px 33px;
    margin-bottom:10px;
    list-style-type: none; 
    font-size:1.2em;
    border-radius:5px;    
}
header li:hover, footer p:hover, .active{
    color:#f0f8ff;
    cursor: pointer;
    border-radius:5px;
    background-color:#636060;
}
header li:hover a,footer a,footer p, .active a{
    color:#f0f8ff;
    text-decoration:none;
}
figure{
    margin:0 auto;
    width:30%;
	padding-bottom:15px;
}
figure img{
   width:100%;
}
header a,footer h3{
    text-decoration: none;
    color:#636060;
}
/* ==========================================================================
   CONTENT
   ========================================================================== */
#loader{
	display:none;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#e9e9e9;
}
#loader p{
    text-align: center;
    padding:40px;
    font-size:2.5em;
    color:#636060;
}
main{
    position:relative;
    padding:.5em;
    min-height: 60em;
    margin:0 auto;
    overflow:hidden;
}
#gallery{ 
    column-count: 3;
    column-gap: .5em;
    -moz-column-count: 3;
    -moz-column-gap: .5em;
    -webkit-column-count: 3;
    -webkit-column-gap: .5em;
}
#gallery img{
    width:100%;
    margin-bottom:.5em;
}

/* ==========================================================================
   FOOTER
   ========================================================================== */

footer{
    padding:40px 70px;
    background: rgba(250,250,250,1);
    background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(152,152,152,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,250,250,1)), color-stop(100%, rgba(152,152,152,1)));
    background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(152,152,152,1) 100%);
    background: -o-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(152,152,152,1) 100%);
    background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(152,152,152,1) 100%);
    background: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(152,152,152,1) 100%);
    margin-top:10px;
    box-shadow: 0 -3px 5px  #999;
}
footer p,footer h3,footer a{
    padding:0 20px 5px 20px;
    text-align:center;
}
/* ==========================================================================
   LIGHTBOX AND BUTTONS
   ========================================================================== */

#lightbox{
    display: none;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:RGBA(0,0,0,.9);
}

#lightbox img{
	display:block;
	margin:2.5% auto;
    max-width:95%;
    max-height:95%;
    border: none;
}
a{
    outline: 0;
}
.close{
    text-align:center;
    position:absolute;
    width:2em;
    height:156px;
    right:1em;
    top:50%;
    margin-top:-78px;
}

.fa-chevron-up{
    position:absolute;
    top: 0px;
}

.fa-chevron-down{
    position:absolute;
    top:50%;
    margin-top:-24px;
}
.fa-times{
    right:.2em!important;
    position:absolute;
    bottom:0px;
    margin-top:20px;
}
.close i{
    right: .1em;
}
#up{
    position: fixed;
    bottom:1em;
    right:1em;
    opacity:0;
}
.close, #up i{
    cursor: pointer;
    text-shadow:0 0 2px #333;
    color:#fff;
}
.clearfix::after{
    content:"";
    clear:both;
}
.hidden{
    display:none!important;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
 
@media screen and (max-width:1040px)
{
    nav li{
        font-size:.9em;
        padding: 3px 23px;
    }
    header{
        padding:0 60px;
    }
}
@media screen and (max-width:854px)
{
    nav li{
        font-size:.9em;
        padding: 3px 13px;
    }  
    header{
        padding:0 40px;
    }
}
@media screen and (max-width:674px)
{
    #gallery { 
        column-count: 2;
        column-gap: .25em;
        -moz-column-count: 2;
        -moz-column-gap: .25em;
        -webkit-column-count: 2;
        -webkit-column-gap: .25em;
    }
    #gallery img{
        margin-bottom:.25em;
    }
    header{
        padding:0 30px;
    }
}
@media screen and (max-width:600px)
{
	nav li:not(first-child){
		display:none;
	}
}
@media screen and (max-width:480px)
{
    #gallery{ 
        column-count: 1;
        column-gap: .25em;
        -moz-column-count: 1;
        -moz-column-gap: .25em;
        -webkit-column-count: 1;
        -webkit-column-gap: .25em;
    }
    #gallery img{
        margin-bottom:.25em;
    }
    #socnet{
        margin-bottom:10px;
        position:relative;
        display:block;
        width:100%;
        text-align:center;
        padding-top:10px;
        bottom:auto;
        top:auto;
        right: auto;
        left: auto;
    }
    #socnet a{
        margin:0 15px;
    }
    header{
        padding: 0px;
    }
}
